@font-face {
  font-family: myFirstFont;
  src: url(images/Avaza\ Mtavruli\ Regular.ttf);
}

*{
  font-family: myFirstFont;
  color: #cfd8dc;
  font-weight: bold;
  text-shadow: 1px 1px 2px black, -1px -1px 2px black;
  margin: auto;
  padding: 0;
}

body{
    margin: auto;
    width: 95%;
    background-color: #eceff1;
}

/* header მენიუს ზოლი ქვევით */
header{
    /* overflow: hidden; */
    height: 150px;
    background: /* url(images/logo_white.png) left bottom no-repeat,  */
    url(images/boat_white.png) right center no-repeat; 
    /* url(images/plane.png) top center no-repeat; */
    background-size: 70px;
    background-color: #263238;
}

header #fly1{
  position: absolute;
  top: 100px;
  left: -50px;
  animation: mymove1 17s;
  animation-delay: -0.1s;
  /* ukan wamosvla */
  animation-direction: alternate;
  animation-fill-mode: backwards;
  animation-timing-function: ease-out;
  backface-visibility: hidden;
}

@keyframes mymove1{
  from {left: -50px;}
  to {left: 1400px; top: 50px;}
}

/* meooooorrrrreeeeeeeeee  */

header #fly2{
  position: absolute;
  top: 300px;
  right: -200px;
  animation: mymove2 3s;
  animation-delay: -0.1s;
  /* ukan wamosvla */
  animation-direction: alternate;
  animation-fill-mode: backwards;
  animation-timing-function: ease-out;
  backface-visibility: hidden;

}

@keyframes mymove2{
  from {right: -150px;}
  to {right: 900px; top: -100px;}
}

/* mesameeeeeeeeeeeeeeee  */

header #fly3{
  position: absolute;
  top: 0px;
  left: 120px;
  animation: mymove3 3s;
  animation-delay: -0.1s;
  /* ukan wamosvla */
  /* animation-direction: alternate;
  animation-fill-mode: backwards; */
  animation-timing-function: ease-out;
  /* backface-visibility: hidden; */

}

@keyframes mymove3 {
  from {right: 50px;}
  to {left: 550px; top: 50px;}
}





header nav{
  position: relative;
  top: 50px;
  /* background-color: rgba(55, 71, 79, 0.8); */
  background-image: linear-gradient(rgba(55, 71, 79, 0.9), rgba(69, 90, 100, 0.5));
  margin: 0 100px 0 20px;
  text-shadow: darksalmon;
  box-shadow: deeppink;
  /* overflow: hidden; */
  border-radius: 10px;
  float: right;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0 100px;
  overflow: hidden;
}

header li {
  width: 100px;
  float: right;
}

header li a{
  display: block;
  text-align: center;
  padding: 15px 0;
  text-decoration: none;
}

header li a:hover {
  background-color: #263238;
  color: white;
  border-bottom: 3px solid white;
  box-shadow: 1px 0 darkred;
}

header li a:visited {
    color: #ff6f00;
}

header li a:active {
    color: darkred;
}

/* header მენიუს ზოლი ზევით */
/* ძირითადი ცენტრის დასაწყისი ქვევით */
h2{
  font-size: 24px;
  color: darkgoldenrod;
  margin: 10px 0;
}

#sec_top{
  background-image: radial-gradient(farthest-side at 70% 70%, #90a4ae, #455a64, #263238);
  background-position: left bottom, right top;
  background-repeat: no-repeat, no-repeat;
  padding: 20px;
  overflow: hidden;
}

#ol_di li{
  margin: 0 15px;
  padding: 4px 0;
  text-indent: 20px
}

#cen_pic{
  position: absolute;
  top: 110px;
  left: 580px;
}

#att_pic{
  position: absolute;
  top: 150px;
  left: 1200px;
}

#trno{
  width: 80px;
  height: 40px;
  background-color: #ff3d00;
  -ms-transform: skew(-30deg,10deg); /* IE 9 */
  transform: skew(-30deg,15deg); /* Standard syntax */
  text-align: center;
  border-radius: 10px;
  transition: width 2s, height 2s, transform 2s;
  background-attachment: fixed;
}

#trno:hover {
  width: 100px;
  height: 50px;
  transform: rotate(180deg);
}

p{
  padding: 3px 0;
}

.cbox{
  background-color: #263238;
  box-shadow: 0 0 10px darkgoldenrod;
  /* border: 2px solid darkgoldenrod; */
  border-radius: 20px;
  margin: 30px;
  float: left;
  width: 330px;
  height: 220px;
}

table {
  border: 5px solid darkgoldenrod;
  border-collapse: collapse;
  text-align: center;
}

th, td{
  border: 2px solid darkgoldenrod;
  padding: 12px;
  width: 350px;
  height: 50px;
}

input[type='textarea']{
  width: 400px;
  height: 30px;
  color: darkred;
  text-shadow: none;
}

input[type='text'], 
input[type='number'] {
  height: 30px;
  color: darkred;
  text-shadow: none;
}

input[type='submit']{
  background-color: darkgoldenrod;
  height: 30px;
  color: black;
  padding: 0 10px;
  text-shadow: none;
  box-shadow: 0 0 15px darkgoldenrod;
}
input[type='submit']:hover{
  background-color: darkred;
  color: darkgoldenrod;
  box-shadow: 0 0 15px darkred;
}

/* footer ბოლო ნაწილი ქვევით */
footer{
  position: static;
  border: 5px solid #263238;
  bottom: 0;
  height: 150px;
  background-color: darkgoldenrod;
  background-image: radial-gradient(farthest-side at 50% 70%, #fff8e1, #ff8f00);
  box-shadow: 0 0 5px white;
}

footer .fff{
  margin: auto;
  padding: 10px;
  text-align: center;
}

footer .ff2{
  width: 33%;
  float: left;
}

footer .ff2 p{
  color: #cfd8dc;  
}

